@font-face {
  font-family: 'MyFont';
  src: url('./slick.woff') format('woff'),
    url('./Lato-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./swc-sword.png');
}